body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about {
  padding: 3rem;
  text-align: center;
}

.content {
  min-height: calc(100vh - 50px - 65px);
  
  width: 100%;
}

nav {
  padding: 0 1rem;
}

.btn {
  background-color: #33691e ;

}

.btn:hover {
  background-color: #64dd17;
}

.category {
  width: 15rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0, 0 5px 12px 0 #64dd17;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  gap: 25px;
}

.card-image > img {
  width: 100%;
}

.card .card-action {
  padding: 16px 0;
}

.dish {
  width: 20rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 1px 0, 0 5px 12px 0 #64dd17;
}

.dishes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.row {
  width: 600px;
  height: 450px;
}

iframe {
  width: 100%;
  height: 100%;
}

.desc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5rem;
  
}

.desc > img {
  width: 40%;
  padding: 3rem;
}

 .textinfo {
  padding: 20px;
  width: 60%;
}

table {
  margin: 2rem 0;
}


@media  (max-width: 1400px) {
  .app {
    width: 100%
  }

  .recipe > .desc > img {
    width: 100%;
  }

  .textinfo {
    width: 100%;
  
  }

 .desc {
  flex-wrap: wrap;
 }

 table {
   width: 100%;
 }

 .row {
   width: 100%;
 }
}


